<template>
    <div>
        <bread-crumb :titles="titles"></bread-crumb>
        <a-form
            :form="form">
            <a-form-item label="Screen Name" :label-col="{ span: 4, offset: 4 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="form.title"/>
            </a-form-item>
            <a-form-item label="Screen Title" :label-col="{ span: 4, offset: 4 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="form.name"/>
            </a-form-item>
            <a-form-item label="About Screen" :label-col="{ span: 4, offset: 4 }" :wrapper-col="{ span: 12 }">
                <a-input :rows="4" type="textarea" v-model="form.about"/>
            </a-form-item>
        </a-form>
    </div>
</template>

<script>
export default {
    name: 'ApplicationScreen',
    props: ['titles', 'form'],
    methods: {
        handleSubmit () {}
    }
}
</script>

<style>

</style>
