<template>
    <div>
        <bread-crumb class="mb-2" :titles="titles"></bread-crumb>
        <a-form
            :form="form">
            <a-form-item label="Object Friendly Name" :label-col="{ span: 4, offset: 4 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="form.title"/>
            </a-form-item>
            <a-form-item label="Application Type" :label-col="{ span: 4, offset: 4 }" :wrapper-col="{ span: 12 }">
                <a-select class="w-200" allowClear no-data-text="No Types" placeholder="" v-model="form.application">
                                <a-select-option
                                v-for="item in applications"
                                :key="item"
                                :value="item">
                                {{item}}
                                </a-select-option>
                            </a-select>
            </a-form-item>
            <a-form-item label="Object Type" :label-col="{ span: 4, offset: 4 }" :wrapper-col="{ span: 12 }">
                <a-select class="w-200" allowClear no-data-text="No Types" placeholder="" v-model="form.objects">
                                <a-select-option
                                v-for="item in objects"
                                :key="item"
                                :value="item">
                                {{item}}
                                </a-select-option>
                            </a-select>
            </a-form-item>
            <a-form-item label="Frames Path" :label-col="{ span: 4, offset: 4 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="form.path"/>
            </a-form-item>
            <a-form-item label="Frames Index" :label-col="{ span: 4, offset: 4 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="form.index"/>
            </a-form-item>
        </a-form>

        <div class="my-2">
            <a-table :columns="columns"
                :pagination="false"
                :rowKey="record => record.uid"
                :dataSource="tableData"
                :loading="loading">
            </a-table>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'ObjectDetails',
    props: ['titles', 'form'],
    data () {
      return {
        columns: [
            {
                title: 'Locator',
                dataIndex: 'type'
            },
            {
                title: 'Object Properties',
                dataIndex: 'size'
            }, 
            {
                title: 'Is Valid?',
                dataIndex: 'date'
            }
        ],
        tableData: [],
        loading: false
      }
    },
    methods: {
        handleSubmit () {}
    },
    computed: {
      ...mapGetters(['applications', 'objects'])
    }
}
</script>

<style>

</style>
