<template>
    <div id="epic-side">
        <div class="border-bottom bg-black add-button-div flex align-items-center">
            <div :key="index" v-for="(button, index) in buttons" class="add-side-button flex align-items-center">
                <box-button :button="button"></box-button>
            </div>
        </div>
        <div>
            <p class="text-uppercase mont title p-20"> {{title}}</p>
            <is-empty v-if="emptyTab" height="100%" title="No Applications"></is-empty>

            <a-directory-tree v-else
                multiple
                @select="onSelect"
                :selectedKeys="current"
                :expandedKeys="curr"
                @expand="onExpand">
                <a-tree-node v-for="item in treeData" :key="item.id" :title="item.title">
                    <a-tree-node v-for="child in item.children" :key="child.id" :title="child.title" isLeaf />
                </a-tree-node>
            </a-directory-tree>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'ObjectSide',
//   buttons - array of buttons to go into the add buttons at the top
//   treeData - data for the tree
//   title - title of thepage
//   type - sets the current Node
//   field - determines the field of the data to be displayed
  props: ['buttons', 'emptyTab', 'treeData', 'title', 'type', 'field'],
  data () {
    return {
        defaultSelectedKeys: ['8SpE1LVGPNUZH1AbdY6W'],
        checkedKeys: []
    }
  },
  methods: {
    remove (item) {
        var store = this.$store
        var message = this.$message
        var current = this.currentAppNode[0]
        console.log('noded', this.currentAppNode[0])
        this.$confirm({
            title: 'Are you sure delete this epic?',
            // content: 'Some descriptions',
            okText: 'Yes',
            okType: 'danger',
            cancelText: 'No',
            onOk () {
                store.dispatch('deleteEpic', current)
                .then((response) => {
                    message.success('Epic Deleted')
                    store.dispatch('getEpics', {cache: false})
                }).catch((err) => {
                    message.error('Unable to delete Epic')
                })
            },
            onCancel () {
                console.log('Cancel')
            }
        })
    },

    handleNodeSelect (key, e) {
        console.log('key', key)
        console.log('e', e)
        this.$store.dispatch(this.type, key[0])
        // this.$store.dispatch('getStoryById', key[0])
    },

    onCheck (checkedKeys) {
      console.log('onCheck', checkedKeys)
      this.checkedKeys = checkedKeys
    },

    onSelect (keys) {
      console.log('Trigger Select', keys);
      this.$store.commit('checkAppNode', keys[0])
    },

    onExpand () {
      console.log('Trigger Expand');
    },
  },
  computed: {
    ...mapGetters(['currentApp', 'currentObject', 'currentAppNode']),
    current () {
        var current = this.currentAppNode.length !== 0 ? [this.currentAppNode.id] : [this.treeData[0].id]
        return current
    },
    curr () {
        var current = this.currentApp.length !== 0 ? [this.currentApp.id] : [this.treeData[0].id]
        return current
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/general';
.add-side-button{
    border-right: 1px solid #F8F8F8;
    height: 100%;
}
.page-height{
    height: calc(100vh - (400px));
}
.add-button-div{
    height: 60px;
    // padding: 0 20px;
}
.border-bottom{
    border-bottom: 1px solid #fafafa;
}
.p-20{
    padding: 20px !important;
}
.circle{
    padding: 8px;
    border: 0px;
    background: orange;
}
.mx-1{
    margin: 0 0.5rem;
}
</style>
