<template>
    <div style="background: #fafafa" class="h-100">
        <division class="page-height">
            <div slot="side" class="h-100 bg-gray">
                <object-side :emptyTab="emptyTab" field="title" :buttons="buttons" :currentAppNode="currentAppNode" title="Applications and objects" type="findEpic" :treeData="apps"></object-side>
            </div>
            <div slot="main" class="h-100 tab bg-white">
                <a-tabs :activeKey="activeKey" @change="updateNavBar" type="card">
                    <a-tab-pane tab="Application Screen" key="first">
                        <is-empty v-if="emptyTab" height="80vh" title="There are currently no Applications" subtitle="Please create an Application and Edit it"></is-empty>
                        <application-screen v-else :form="currentApp" :titles="titles"></application-screen>
                    </a-tab-pane>
                    <a-tab-pane v-if="activeKey !== 'first'" :disabled="emptyTab" tab="Object Details" key="second">
                        <is-empty v-if="emptyTab" height="80vh" title="There are currently no Objects" subtitle="Please create an Object and Edit it"></is-empty>
                        <object-details :form="currentAppNode" :titles="titles" :loading="loading"></object-details>
                    </a-tab-pane>
                </a-tabs>
            </div>
        </division>
    </div>
</template>

<script>
import ObjectSide from '../components/ObjectSide'
import ApplicationScreen from '../components/ApplicationScreen'
import ObjectDetails from '../components/ObjectDetails'
import EventsBus from '../../event-bus'
import { mapGetters } from 'vuex'

export default {
  name: 'ObjectContainer',
  components: {
    ObjectSide,
    ObjectDetails,
    ApplicationScreen
  },
  data () {
    return {
      buttons: [{event: 'addApp', title: 'Add Application', icon: 'plus', newItem: {id: Math.random(), type: 'app', title: 'newApplication', children: []}},
        {event: 'addObject', title: 'Add Element', icon: 'plus', newItem: {id: Math.random(), type: 'object', title: 'newObject'}}],
      titles: [{name: 'Design'}, {name: 'Manage Screen'}],
      loading: false,
      activeKey: 'first'
    }  
  },
  
  mounted () {
    EventsBus.$emit('updateSideBar', 'object-container')
    this.$store.dispatch('getApps')
    this.$store.commit('getSingleApp', this.apps[0])
    EventsBus.$on('saveApp', this.saveApp)
    EventsBus.$on('deleteApp', this.deleteApp)
    EventsBus.$on('saveObject', this.saveObject)
    EventsBus.$on('deleteObject', this.deleteObject)
  },

  watch: {
    currentAppNode () {
        this.activeKey = this.currentAppNode.type === 'object' ? 'second' : 'first'
        if (this.currentAppNode.type === 'object') {
            var footer = {
                actions: [{icon: 'save', title: 'Save', event: 'saveObject'}, {icon: 'delete', title: 'Delete', event: 'deleteObject'}],
                isExport: false
            }
            this.$store.dispatch('getFooterActions', footer)
        } else {
            var footer = {
                actions: [{icon: 'save', title: 'Save', event: 'saveApp'}, {icon: 'delete', title: 'Delete', event: 'deleteApp'}],
                isExport: false
            }
            this.$store.dispatch('getFooterActions', footer)
        }
    }
  },

  beforeDestroy () {
    EventsBus.$off('saveApp', this.saveApp)
    EventsBus.$off('deleteApp', this.deleteApp)
    EventsBus.$off('saveObject', this.saveObject)
    EventsBus.$off('deleteObject', this.deleteObject)
  },

  created () {
    var footer = {
        actions: [{icon: 'save', title: 'Save', event: 'saveApp'}, {icon: 'delete', title: 'Delete', event: 'deleteApp'}],
        isExport: false
    }
    this.$store.dispatch('getFooterActions', footer)
  },

  methods: {
    // when a tab is clicked
    updateNavBar (targetName) {
        this.activeKey = targetName
        console.log("Target", targetName)
        switch (targetName) {
            case 'first':
                this.titles = [{name: 'Design'}, {name: 'Manage Screen'}]
                var footer = {
                    actions: [{icon: 'save', title: 'Save', event: 'saveApp'}, {icon: 'delete', title: 'Delete', event: 'deleteApp'}],
                    isExport: false
                }
                this.$store.dispatch('getFooterActions', footer)
                break
            case 'second':
                this.titles = [{name: 'Design'}, {name: 'Object Details'}]
                var footer = {
                    actions: [{icon: 'save', title: 'Save', event: 'saveObject'}, {icon: 'delete', title: 'Delete', event: 'deleteObject'}],
                    isExport: false
                }
                this.$store.dispatch('getFooterActions', footer)
                break
            default:
                break
        }
    },

    // edit or save app
    saveApp () {
        this.$store.dispatch('saveOrEditApp', this.currentApp)
        .then((response) => {
            this.$message.success('App Saved')
        }).catch((err) => {
            this.$message.error('Unable to create App')
        })
    },

    // delete app 
    deleteApp () {
        var store = this.$store
        var message = this.$message
        var current = this.currentApp.id
        this.$confirm({
            title: 'Are you sure delete this App?',
            // content: 'Some descriptions',
            okText: 'Yes',
            okType: 'danger',
            cancelText: 'No',
            onOk() {
                store.dispatch('deleteApp', current)
                .then((response) => {
                    message.success('App Deleted')
                }).catch((err) => {
                    message.error('Unable to delete App')
                })
            },
            onCancel() {
                console.log('Cancel')
            }
        })
    },

    // edit or save object
    saveObject () {
        this.$store.dispatch('saveOrEditObject', this.currentAppNode)
        .then((response) => {
            this.$message.success('Object Saved')
        }).catch((err) => {
            this.$message.error('Unable to create Object')
        })
    },

    // edit or save
    deleteObject () {
        var store = this.$store
        var message = this.$message
        var current = this.currentAppNode.id
        this.$confirm({
            title: 'Are you sure delete this Object?',
            okText: 'Yes',
            okType: 'danger',
            cancelText: 'No',
            onOk() {
                store.dispatch('deleteObject', current)
                .then((response) => {
                    message.success('Object Deleted')
                }).catch((err) => {
                    message.error('Unable to delete Object')
                })
            },
            onCancel() {
                console.log('Cancel')
            }
        })
    }
  },

  computed: {
    ...mapGetters(['apps', 'currentApp', 'currentAppNode']),
    count () {
        return this.apps.length
    },
    emptyTab () {
        return this.count === 0
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
