<template>
    <div style="overflow: hidden" class="full-height" id="components-layout-demo-basic">
        <a-layout>
            <a-layout-header class="header-height">
                <the-header></the-header>
            </a-layout-header>
            <a-layout class="page-height">
                <a-layout-sider :width="40">
                    <side-nav></side-nav>
                </a-layout-sider>
                <a-layout-content>
                    <router-view></router-view>
                </a-layout-content>
            </a-layout>
            <a-layout-footer class="footer-height">
                <the-footer></the-footer>
            </a-layout-footer>
        </a-layout>
    </div>
</template>

<script>
import Footer from '../components/Footer'
import Header from '../components/Header'
import SideNav from '../components/SideNav'

export default {
    name: 'Client',
    components: {
        'the-footer': Footer,
        'the-header': Header,
        'side-nav': SideNav
    }
}
</script>

<style lang="scss" scoped>
$bg-blue: #519BBD;
.side-width{
    width: 40px
}
.main-width{
    width: calc(100vw - (40px))
}
.page-height{
    height: calc(100vh - (102px));
}
.blue{
    background: $bg-blue;
}
.header-height{
    height: 42px;
    background: #3A454F;
}
.footer-height{
    height: 60px;
}
.scroll{
    overflow: hidden;
    //overflow-y: auto;
}

</style>
