<template>
    <div id="login" class="full-height">
        <div class="pre-height bg-blue"></div>
        <div class="bg-gray page-height center flex-column">
            <img src="../assets/img/logo.png" alt="">
            <div style="margin-bottom: 100px !important" class="login-block border bg-white rounded my-2">
                <a-form :model="form" :rules="rules" ref="form">
                    <a-form-item class="flex flex-column" label="Email Address" prop="email">
                        <a-input type="text" clearable v-model="form.email">
                            <a-icon class="a-input__icon" slot="suffix" type="envelope" />
                        </a-input>
                    </a-form-item>
                    <a-form-item class="flex flex-column" label="Password" prop="password">
                        <a-input type="password" clearable v-model="form.password"></a-input>
                    </a-form-item>
                    <div class="flex justify-content-between my-2">
                        <a class="cursor">Forgot your password?</a>
                        <a-button @click="login('form')" :loading="loading" class="light bg-blue" type="primary">Log in</a-button>
                    </div>
                </a-form>
            </div>
            <div id="social" class="flex justify-content-between">
                <img src="../assets/img/facebook.png" alt="">
                <img src="../assets/img/youtube.png" alt="">
                <img src="../assets/img/twitter.png" alt="">
                <img src="../assets/img/instagram.png" alt="">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Login',
    data () {
        return {
            form: {
                email: 'admin',
                password: 'admin'
            },
            loading: false,
            rules: {
                email: [
                    { required: true, message: 'Please input Email', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: 'Please input Password', trigger: 'blur' }
                ]
            }
        }
    },
    methods: {
        login(formName) {
            this.loading = true
            if ((this.form.email == 'admin' && this.form.password == 'admin')) {
                this.loading = false
                this.$message.success('Login Successful')
                this.$router.push('/')
            } else {
                this.$message.error('Login Unsuccessful')
                this.loading = false
                return false
            }
        }
    }
}
</script>

<style lang="scss" scoped>
#social{
    width: 15%;
    margin-top: -40px;
    img{
        width: 37px;
        height: 37px;
    }
}
.login-block{
    padding: 10px 30px;
    text-align: left;
    width: 25%;

    .el-form-item{
        width: 300px;
        text-align: left;

        .el-form-item__label{
            text-align: left;
        }
        a{
            font-size: 12px;
        }
        .el-button{
            margin-left: 65px;
        }
    }
}
</style>

