<template>
    <div id="dashboard" class="p-24">
        <a-row :gutter="20">
            <a-col :span="12">
                <a-card class="box-card">
                    <div>
                        <chartist
                            type="Line"
                            :data="chartData"
                            :options="chartOptions" >
                        </chartist>
                    </div>
                </a-card>
            </a-col>
            <a-col :span="12">
                <a-row :gutter="20">
                    <a-col :span="6">
                        <div class="data-visual flex align-items-center justify-content-around">
                            <div class="round">
                                <a-icon type="file" />
                            </div>
                            <div class="flex flex-column">
                                <p>23</p>
                                <p>Sprints</p>
                            </div>
                        </div>
                    </a-col>
                    <a-col :span="6">
                        <div class="data-visual bg-cyan flex align-items-center justify-content-around">
                            <div class="round">
                                <a-icon type="book" />
                            </div>
                            <div class="flex flex-column">
                                <p>46</p>
                                <p>User Stories</p>
                            </div>
                        </div>
                    </a-col>
                    <a-col :span="12">
                        <div class="data-visual bg-primary flex align-items-center justify-content-around">
                            <p class="orders">Objects(293)</p>
                            <div style="height: 80px" class="w-100" id="data-visual-chart"></div>
                        </div>
                    </a-col>
                </a-row>
                <a-row class="mt-20" :gutter="20">
                    <a-col :span="18">
                        <div class="data-visual data-visual-sec bg-sec flex align-items-center justify-content-around">
                            <p class="orders">Objects(293)</p>
                            <div style="height: 250px" class="w-100">
                                <chartist
                                    id="white-sprint-chart"
                                    type="Line"
                                    :data="data"
                                    :options="options" >
                                </chartist>
                            </div>
                        </div>
                    </a-col>
                    <a-col :span="6">
                        <div class="data-visual bg-cyan flex align-items-center justify-content-around">
                            <div class="round">
                                <a-icon type="file" />
                            </div>
                            <div class="flex flex-column">
                                <p>23</p>
                                <p>Sprints</p>
                            </div>
                        </div>
                        <div class="data-visual mt-20 flex align-items-center justify-content-around">
                            <div class="round">
                                <a-icon type="file" />
                            </div>
                            <div class="flex flex-column">
                                <p>23</p>
                                <p>Sprints</p>
                            </div>
                        </div>
                    </a-col>
                </a-row>
            </a-col>
        </a-row>
    </div>
</template>

<script>
import EventsBus from '../../event-bus'
import Chartist from 'chartist'
export default {
    name: 'Dashboard',
    data () {
        return {
            loading: true,
            chartData: {
                labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                series: [
                    [12, 9, 7, 8, 5],
                    [2, 1, 3.5, 7, 3],
                    [1, 3, 4, 5, 6]
                ]
            },
            chartOptions: {
                height: '400px',
                lineSmooth: true,
                showLine: false,
                showPoint: false,
                showArea: true,
                fullWidth: true,
                axisX: {
                    showLabel: false,
                    showGrid: false
                }
            },
            data: {
                labels: [1, 2, 3, 4, 5],
                series: [
                    [1, 5, 10, 0, 1]
                ]
            },
            options: {
                height: '250px',
                axisX: {
                    showLabel: false,
                    // If the axis grid should be drawn or not
                    showGrid: false
                },
                axisY: {
                    showLabel: false,
                    // If the axis grid should be drawn or not
                    showGrid: false
                }
            }
        }
    },
    created () {
        var footer = {
            actions: [],
            isExport: true
        }
        this.$store.dispatch('getFooterActions', footer)
    },
    mounted () {
        EventsBus.$emit('updateSideBar', '')

        var data = {
            // A labels array that can contain any sort of values
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
            // Our series array that contains series objects or in this case series data arrays
            series: [
                [5, 2, 4, 2, 0, 5, 1]
            ]
        }

            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual data object.
        new Chartist.Bar('#data-visual-chart', data, {
            height: '100px',
            axisX: {
                showLabel: false,
                // If the axis grid should be drawn or not
                showGrid: false,
                offset: 10
            },
            axisY: {
                showLabel: false,
                // If the axis grid should be drawn or not
                showGrid: false,
                offset: 0
            }
        })
    }
}
</script>

<style lang="scss">
.data-visual{
    height: 100px;
    color: white;
    background: #ff4081;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    border-radius: 2px;
    padding: 0 10px;
    position: relative;

    .orders{
        position: absolute;
        right: 10px;
        top: 10px
    }

    p{
        padding: 0;
        margin: 0;
        font-size: 13px;
    }

    .round{
        background: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        i,svg{
            font-size: 12px;
            color: rgb(20, 20, 20);
        }
    }
}

.data-visual-sec{
    height: 280px;
}
.mt-20{
    margin-top: 20px;
}
.bg-primary{
    background: #3f51b5!important
}
.bg-cyan{
    background: #0097a7!important
}
.bg-sec{
    background: #2196f3!important
}
.justify-content-around{
    justify-content: space-around;
    justify-content: space-evenly;
}
.box-card {
    // width: 48%;
    height: 400px;
}
.Chart {
  background: #212733;
  border-radius: 15px;
  box-shadow: 0px 2px 15px rgba(25, 25, 25, 0.27);
  margin:  25px 0;
  height: 100%;
}

.Chart h2 {
  margin-top: 0;
  padding: 15px 0;
  color:  rgba(255, 0,0, 0.5);
  border-bottom: 1px solid #323d54;
}
#box-card {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.container {
  max-width: 800px;
  margin:  0 auto;
}
</style>
