<template>
   <div @click="emitEvent(button.event, button.newItem)" class="box-button cursor mx-2">
        <a-icon :type="button.icon" />
        <p class="p-0"> {{ button.title }} </p>
    </div>
</template>

<script>
import EventsBus from '../event-bus'
export default {
    name: 'BoxButton',
    props: ['button'],
    data () {
        return {

        }
    },
    methods: {
        emitEvent (event, newItem) {
            this.$store.commit(event, newItem)
        }
    }
}
</script>

<style lang="scss" scoped>
// buttons
.box-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 0px;

    p{
        font-size: 10px;
        margin: 0;
        margin-top: 5px !important;
        font-weight: 500;
        letter-spacing: 0.5px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
    }
}
</style>

