<template>
<!-- Breadcrumb component -->
    <div class="bread flex justify-content-between">
        <div class="flex align-items-center">
            <a-breadcrumb>
                <a-breadcrumb-item class="cursor" v-for="(title, index) in titles" :key="index"> {{title.name}} </a-breadcrumb-item>
            </a-breadcrumb>
        </div>
    </div>
</template>

<script>
import EventBus from '../event-bus'
export default {
    name: 'BreadCrumb',
    props: ['titles', 'button', 'button2'],
    data () {
        return {
            isClicked: false
        }
    },
    methods: {
        clickButton () {
            EventBus.$emit('breadCrumbButton')
        },
        clickButton2 () {
            EventBus.$emit('breadCrumbButton2')
        },
        divider () {
            this.isClicked = !this.isClicked
            EventBus.$emit('divider')
        }
    }

}
</script>

<style lang="scss" scoped>
.h-30{
    height: 30px;
    background: #fafafa;
    // background: transparent;
    line-height: 30px;
    align-items: center;
    display: flex;
    padding: 0 15px;
    // border-top: 1px solid #f0f0f0;
    // border-bottom: 1px solid #f0f0f0;
}
.black{
    color: black;
}
.isClickedButton{
    color: #409EFF !important;
}
</style>

