<template>
<!-- This is a component with two slots that divides each page into a side panel and the main page -->
    <div class="flex mont main-container">
        <div :class="{grow: isCollapse}" id="side" class="side-panel">
            <div class="content h-100">
                <slot name="side"></slot>
            </div>
        </div>
        <div id="main" class="main-panel">
            <slot name="main"></slot>
        </div>
    </div>
</template>

<script>
import EventBus from '../event-bus'
export default {
    name: 'Division',
    data () {
        return {
            isCollapse: false
        }
    },
    mounted () {
        EventBus.$on('divider', this.toggle)
    },
    beforeDestroy () {
        EventBus.$off('divider', this.toggle)
    },
    methods: {
        close () {
            this.isCollapse = !this.isCollapse
            // console.log('hola')
            // var $side = document.getElementById('side')
            // var $main = document.getElementById('main')
            // if ($side.style.width = '20%') {
            //     console.log('got here', $main.style.width)
            //     $side.style.width = '0'
            //     $main.style.width = '100%'
            // } else if ($main.style.width = '100%') {
            //     console.log('and here')
            //     $side.style.width = '20%'
            //     $main.style.width = '80%'
            // }
        },
        toggle () {
            this.isCollapse = !this.isCollapse
        }
    }
}
</script>

<style lang="scss" scoped>
// .page-height{
//     height: calc(100vh - (110px)) !important;
// }
.side-panel{
    // width: 20%;
    transition: 2s;
    // padding: 10px;
    position: relative;
    flex-grow: 10;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    flex-basis: 300px;
    .content{
        opacity: 1;
        transition: all 0.3s;
    }
}
.main-panel{
    // overflow-x: hidden;
    // overflow-y: auto;
    overflow: hidden;
    // width: 80%;
    padding: 10px;
    position: relative;
    flex-grow: 40;
    transition: all 0.2s ease-out;
    opacity: 1;
    flex-basis: 80%;
    background: white;
}
.open {
    left: -20%;
}
.openMain {
    width: 100%;
    // left: -18%;
}
.main-container{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.grow{
    //opacity: 0;
    flex: 0;

    .content{
        display: none;
    }
}
</style>

