<template>
<!-- This component is used when a component has no data -->
    <div :style="`height: ${height}`" class="h-100 flex align-items-center justify-content-center flex-column">
        <h5 class="m-0">{{title}}</h5>
        <p>{{subtitle}}</p>
    </div>
</template>

<script>
export default {
    name: 'EmptyTree',
    props: ['height', 'title', 'subtitle']
}
</script>
