<template>
    <div class="bg-blue flex justify-content-between align-item-center" id="footer">
        <div class="flex align-items-center">
            <p class="p-0">Built on {{date}} </p>
        </div>
        <div class="flex">
            <div @click="emitEvent(action.event)" v-for="(action, index) in footer.actions" :key="index" class="flex flex-column footer-button cursor align-items-center justify-content-center mx-2">
                <a-icon :type="action.icon" />
                <p class="p-0"> {{ action.title }} </p>
            </div>
        </div>
        <div class="flex align-items-center">
            <div v-if="footer.isExport" class="flex flex-column cursor footer-button align-items-center justify-content-center">
                <a-icon type="download" />
                <p class="p-0">Export</p>
            </div>
        </div>
    </div>
</template>

<script>
import EventsBus from '../event-bus'
import { mapGetters } from 'vuex'
export default {
    name: 'Footer',
    props: [],
    data () {
        return {
            date: 'Sep 21, 2018',
            isExport: false,
            // actions: [{icon: 'pen', title: 'Edit', event: 'edit'}, {icon: 'save', title: 'Save', event: 'save'}]
        }
    },
    mounted () {
        EventsBus.$on('footerActions', this.updateFooter)
    },
    computed: {
      ...mapGetters({
        footer: 'footer'
      })
    },
    methods: {
        updateFooter (value) {
            console.log('value footer', value)
            this.actions = value.actions
            this.isExport = value.isExport
        },
        emitEvent (event) {
            console.log('emited', event)
            EventsBus.$emit(event)
        }
    }
}
</script>

<style lang="scss" scoped>
#footer{
    height: 60px;
    color: white;
    padding: 0 60px;

    p{
        font-size: 12px;
    }
    .footer-button{
        p{
            text-transform: uppercase;
            font-size: 10px;
            margin: 0;
            margin-top: 5px !important;
            font-weight: 500;
            letter-spacing: 1px;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
        }
    }
    .cursor{
        cursor: pointer;
    }

}
</style>
