<template>
    <div class="w-100 h-100 header flex justify-content-between">
        <a-row class="w-100">
            <a-col class="center" :span="4">
                <div class="flex w-auto">
                    <img style="margin-top: -3px" src="../assets/img/logo-white.png">
                    <p class="pl-1 white">11.1.0</p>
                </div>
            </a-col>
            <a-col class="flex align-items-center justify-content-right" :span="20">
                <a-menu
                    v-model="activeIndex"
                    style="background-color: transparent, color: white"
                    mode="horizontal">
                    <a-sub-menu key="1">
                        <span slot="title" class="submenu-title-wrapper">Test Project</span>
                        <a-menu-item key="1-1"> <a-icon type="setting" />Test Project</a-menu-item>
                    </a-sub-menu>
                    <a-sub-menu key="2">
                        <span slot="title" class="submenu-title-wrapper">Test Application</span>
                        <a-menu-item key="2-1">Test Application</a-menu-item>
                    </a-sub-menu>
                    <a-sub-menu key="3">
                        <span slot="title" class="submenu-title-wrapper">Setup</span>
                        <a-menu-item key="3-1" class="submenu">
                            <a-icon type="calendar" class="mx-2"/>
                            <span>Project</span>
                        </a-menu-item>
                        <a-menu-item key="3-2" class="submenu">
                            <a-icon type="file" />
                            <span>Access Control</span>
                        </a-menu-item>
                        <a-menu-item key="3-3" class="submenu">
                            <a-icon type="user" />
                            <span>User Management</span>
                        </a-menu-item>
                        <a-menu-item key="3-4" class="submenu">
                            <a-icon type="code" />
                            <span>Masters</span>
                        </a-menu-item>
                        <a-menu-item key="3-5" class="submenu">
                            <a-icon type="tag" />
                            <span>Add On(s)</span>
                        </a-menu-item>
                        <a-menu-item key="3-6" class="submenu">
                            <a-icon type="lock" />
                            <span>Credentials</span>
                        </a-menu-item>
                        <a-menu-item key="3-7" class="submenu">
                            <a-icon type="setting" />
                            <span>Execution Machines</span>
                        </a-menu-item>
                        <a-menu-item key="3-8" class="submenu">
                            <a-icon type="copy" />
                            <span>Import/Export Test</span>
                        </a-menu-item>
                    </a-sub-menu>
                    <a-sub-menu key="4">
                        <span slot="title" class="submenu-title-wrapper">Reference</span>
                        <a-menu-item key="4-1" class="submenu">
                            <a-icon type="question" />
                            <span>Action Reference</span>
                        </a-menu-item>
                        <a-menu-item key="4-2" class="submenu">
                            <a-icon type="download" />
                            <span>Download User Guides</span>
                        </a-menu-item>
                    </a-sub-menu>
                </a-menu>
                <div class="flex align-items-center pl-24">
                    <p class="light text-capitalize white mr-2">Welcome, {{user}}</p>
                    <a-avatar style="color: #f56a00; backgroundColor: #fde3cf">{{initials}}</a-avatar>
                </div>
            </a-col>
        </a-row>
    </div>
</template>

<script>
export default {
    name: 'Header',
    data () {
        return {
            activeIndex: ['1'],
            user: 'Sedinam'
        }
    },
    computed: {
        initials () {
            return this.user.charAt(0)
        }
    }
}
</script>

<style lang="scss" scoped>
.header{
    padding: 0 20px 0 0px;
    height: 100%;

    p{
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 0;
    }
    // .a-menu-item,.a-sub-menu__title{
    //     height: 42px;
    //     line-height: 42px;
    //     font-size: 12px
    // }
    .a-menu--horizontal>.a-sub-menu .a-sub-menu__title{
        height: 42px !important;
    }
    
    .ant-menu{
        background: transparent;
    }

    .submenu-title-wrapper{
        color: white;

        &:active{
            color: white;
        }
    }

    .ant-menu-horizontal{
        line-height: 42px;
    }

    .ant-menu-item{
        line-height: 36px;
        height: 36px;
    }
}
img{
    width: 100px;
    height: 46px;
}
// .f-12{
//     font-size: 12px;
// }
// .submenu{
//     font-weight: 300;
//     span{
//         font-size: 12px;
//     }
//     svg{
//         width: 15px;
//     }
// }
</style>

