<template>
<!-- The side menu is defined by this component -->
<!-- class="a-menu-vertical-demo" 
        background-color="#519BBD"
        :unique-opened="true"
        text-color="#fff"
        active-text-color="#fff"
        :collapse="isCollapse" -->
    <div class="side-menu h-inherit" style="padding-top: 50px">
        <a-menu router
        :selectedKeys="[defaultActive]"
        mode="vertical"
        theme="dark"
        @click="onClick"
        style="background-color: #519BBD, color: white">
            <a-menu-item id="dashboard" key="">
                <a-icon type="home"/>
                <span slot="title">Home</span>
            </a-menu-item>
            <transition mode="out-in" name="slide">
                <div class="flex flex-column overflow-text align-items-center bg justify-content-center" v-show="defaultActive === ''">
                    <p class="p-0 m-0">H</p>
                    <p class="p-0 m-0">O</p>
                    <p class="p-0 m-0">M</p>
                    <p class="p-0 m-0">E</p>
                </div>
            </transition>
            <a-sub-menu key="design">
                <template slot="title">
                    <a-icon type="calendar"/>
                </template>
                <a-menu-item-group title="Plan">
                    <a-menu-item key="sprint">Sprint</a-menu-item>
                    <a-menu-item key="user-story">User Story</a-menu-item>
                </a-menu-item-group>
            </a-sub-menu>
            <transition mode="out-in" name="slide">
                <div class="flex flex-column overflow-text align-items-center bg justify-content-center" v-show="defaultActive === 'sprint' || defaultActive === 'user-story' ">
                    <p class="p-0 m-0">P</p>
                    <p class="p-0 m-0">L</p>
                    <p class="p-0 m-0">A</p>
                    <p class="p-0 m-0">N</p>
                </div>
            </transition>
            <a-sub-menu key="3">
                <template slot="title">
                    <a-icon type="edit"/>
                </template>
                <a-menu-item-group title="Design">
                    <a-menu-item key="object-container">Object Container</a-menu-item>
                    <a-menu-item key="3-2">Custom Actions</a-menu-item>
                    <a-menu-item key="3-3">Test Case</a-menu-item>
                    <a-menu-item key="3-4">External Test Data</a-menu-item>
                    <a-menu-item key="3-5">Test Suite</a-menu-item>
                </a-menu-item-group>
            </a-sub-menu>
            <transition mode="out-in" name="slide">
                <div class="flex flex-column overflow-text align-items-center bg justify-content-center" v-show="defaultActive === 'object-container'">
                    <p class="p-0 m-0">D</p>
                    <p class="p-0 m-0">E</p>
                    <p class="p-0 m-0">S</p>
                    <p class="p-0 m-0">I</p>
                    <p class="p-0 m-0">G</p>
                    <p class="p-0 m-0">N</p>
                </div>
            </transition>
            <a-sub-menu key="4">
                <template slot="title">
                    <a-icon type="caret-right" />
                </template>
                <a-menu-item-group title="Execute">
                    <a-menu-item key="4-1">Execute Automated Test</a-menu-item>
                    <a-menu-item key="4-2">Execute Manual Test</a-menu-item>
                    <a-menu-item key="4-3">Execution History</a-menu-item>
                </a-menu-item-group>
            </a-sub-menu>
            <a-menu-item key="5">
                <a-icon type="scissor" />
                <span slot="title">Issue</span>
            </a-menu-item>
            <a-menu-item key="6">
                <a-icon type="bar-chart" />
                <span slot="title">Analytics</span>
            </a-menu-item>
            <a-sub-menu key="7">
                <template slot="title">
                    <a-icon type="setting" />
                </template>
                <a-menu-item-group title="Configure">
                    <a-menu-item key="7-1">Global Variables</a-menu-item>
                    <a-menu-item key="7-2">DB Connect</a-menu-item>
                    <a-menu-item key="7-3">Email Connect</a-menu-item>
                    <a-menu-item key="7-4">OBIEE Connect</a-menu-item>
                </a-menu-item-group>
            </a-sub-menu>
        </a-menu>
    </div>
</template>

<script>
import EventBus from '../event-bus'
export default {
    name: 'SideNav',
    data () {
      return {
        isCollapse: true,
        defaultActive: '',
        isShow: false
      }
    },
    mounted () {
        EventBus.$on('updateSideBar', (data) => {
            this.defaultActive = data
        })
    },
    beforeDestroy () {
        EventBus.$off('updateSideBar')
    },
    methods: {
        onClick ({ item, key, keyPath }) {
            this.defaultActive = key
            this.$router.push(`/${key}`)
        }
    }
}
</script>

<style lang="scss" scoped>
@import '../assets/styles/app';
.side-menu{
    width: 40px;
    background-color: #519BBD;
    i,svg{
        vertical-align: middle;
        // margin-right: 10px;
        text-align: center;
        font-size: 18px;
        color: #909399;
        color: white
    }
    li, .ant-menu-submenu-title{
        display: flex;
        align-items: center;
        justify-content: center;

        div{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.a-menu-vertical-demo{
    height: 100%;
    overflow: hidden;
    // overflow-y: auto;
    // @include scrollbar(5px, 1px, rgba(68, 59, 59,0.3),$blue);
}

.a-menu{
    width: 100% !important;
    background: #519BBD !important;
}
// .a-menu-item *{
//     padding: 0 !important;
// }
.a-menu-item-group__title{
    text-transform: uppercase;
    color: #fafafa;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #c3c1c1;
}
.bg{
    background: #2F3941;
}
.a-menu-item.is-active, .ant-menu-submenu-selected{
    background: #2F3941 !important;
    color: white !important;

    i{
        color: white !important;
    }
}

.a-menu-item-group{
    .a-menu-item{
        padding-left: 20px !important;
    }
    .a-menu-item.is-active{
        background-color: #519BBD !important;
    }
}
.overflow-text{
    color: white;
    p{
        margin-bottom: 5px !important;
        line-height: 20px;
    }
}
.a-menu-item,.a-sub-menu{
    padding: 0px !important;

    div{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

.slide-enter-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.slide-leave-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
   max-height: 200px;
   overflow: hidden;
}

.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}
</style>
