<template>
    <div id="side-panel">
        <div class="border-bottom bg-black add-button-div flex align-items-center">
            <div :key="index" v-for="(button, index) in buttons" class="add-side-button flex align-items-center">
                <box-button :button="button"></box-button>
            </div>
        </div>
        <div>
            <p class="text-uppercase mont title p-20"> {{title}}</p>
            <is-empty v-if="emptyTab" height="40vh" title="No Sprints"></is-empty>
            <a-tree v-else
                :selectedKeys="currentNode"
                @select="handleNodeSelect"
                class="draggable-tree">
                <a-tree-node v-for="item in treeData" :key="item.id">
                    <div slot="title" class="custom-tree-node flex justify-content-between align-items-center w-100">
                        <div class="flex align-items-center">
                            <a-icon style="font-size: 8px" type="file" />
                            <span class="f-small mx-1">{{ item[field] }}</span>
                        </div>
                        <span>
                            <a-button @click="remove(item)" size="small" type="default" icon="delete" />
                        </span>
                    </div>
                </a-tree-node>
            </a-tree>
        </div>
    </div>
</template>

<script>
export default {
  name: 'SidePanel',
//   buttons - array of buttons to go into the add buttons at the top
//   treeData - data for the tree
//   title - title of thepage
//   currentNode - currentNode clicked
//   type - sets the current Node
//   field - determines the field of the data to be displayed
  props: ['buttons', 'treeData', 'emptyTab', 'title', 'currentNode', 'type', 'field'],
  data () {
    return {
        defaultSelectedKeys: ['8SpE1LVGPNUZH1AbdY6W']
    }
  },
  methods: {
    remove (item) {
        var store = this.$store
        var message = this.$message
        var current = this.currentNode[0]
        console.log('noded', this.currentNode[0])
        this.$confirm({
            title: 'Are you sure delete this sprint?',
            // content: 'Some descriptions',
            okText: 'Yes',
            okType: 'danger',
            cancelText: 'No',
            onOk () {
                store.dispatch('deleteSprint', current)
                .then((response) => {
                    message.success('Sprint Deleted')
                    store.dispatch('getSprints', {cache: false})
                }).catch((err) => {
                    message.error('Unable to delete sprint')
                })
            },
            onCancel () {
                console.log('Cancel')
            }
        })
    },

    handleNodeSelect (key, e) {
        this.$store.dispatch(this.type, key[0])
    }
  },
  computed: {
    current () {
        var current = this.currentNode ? this.currentNode : [this.treeData[0].id]
        return [this.treeData[0].id]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/styles/general';
.add-side-button{
    border-right: 1px solid #F8F8F8;
    height: 100%;
}
.page-height{
    height: calc(100vh - (400px));
}
.add-button-div{
    height: 60px;
    // padding: 0 20px;
}
.border-bottom{
    border-bottom: 1px solid #fafafa;
}
.p-20{
    padding: 20px !important;
}
.circle{
    padding: 8px;
    border: 0px;
    background: orange;
}
.mx-1{
    margin: 0 0.5rem;
}
</style>
