<template>
    <div>
        <bread-crumb :titles="titles"></bread-crumb>
        <div>
            <a-table :columns="columns"
                :rowKey="record => record.id"
                :dataSource="data"
                :loading="loading">
                <template slot="name" slot-scope="name">
                    {{name.first}} {{name.last}}
                </template>
            </a-table>
        </div>
    </div>
</template>

<script>
export default {
    name: 'SprintDetails',
    props: ['titles', 'tableData', 'loading'],
    data () {
        return {
            columns: [
                {
                    title: 'Epic',
                    dataIndex: 'epic'
                },
                {
                    title: 'User Story Title',
                    dataIndex: 'user'
                }, 
                {
                    title: 'Type',
                    dataIndex: 'type'
                },
                {
                    title: 'Priority',
                    dataIndex: 'priority'
                }
            ]
        }
    }
}
</script>

<style>

</style>
