<template>
    <div>
        <div class="mb-3">
            <a-upload-dragger name="file" :multiple="true" :showUploadList="false" action="//jsonplaceholder.typicode.com/posts/" @change="handleChange">
                <p class="ant-upload-drag-icon">
                <a-icon type="inbox" />
                </p>
                <p class="ant-upload-text">Click or drag file to this area to upload</p>
                <p class="ant-upload-hint">Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files</p>
            </a-upload-dragger>
        </div>
        <div>
            <a-table :columns="columns"
                :pagination="false"
                :rowKey="record => record.uid"
                :dataSource="tableData"
                :loading="loading">
                <template slot="deletefile" slot-scope="record">
                    <a-icon @click="deleteFile" type="delete"></a-icon>
                </template>
            </a-table>
        </div>
    </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'Attachments',
  data () {
    return {
      file: '',
      columns: [
        {
            title: 'File Type',
            dataIndex: 'type'
        },
        {
            title: 'Size(KB)',
            dataIndex: 'size'
        }, 
        {
            title: 'Creation Date',
            dataIndex: 'date'
        },
        {
            title: 'File',
            dataIndex: 'name'
        },
        {
            title: 'Delete',
            dataIndex: '',
            scopedSlots: { customRender: 'deletefile' }
        }
      ],
      tableData: [],
      loading: false
    }
  },
  methods: {
      handleChange (info) {
        const status = info.file.status
        this.loading = true
        console.log('file', info)
        if (status !== 'uploading') {
            console.log(info.file, info.fileList)
        }
        if (status === 'done') {
            this.$message.success(`${info.file.name} file uploaded successfully.`)
            this.loading = false
        } else if (status === 'error') {
            this.$message.error(`${info.file.name} file upload failed.`)
            this.loading = false
        }

        info.fileList.map(file => {
            file.date = moment(file.lastModifiedDate).format('Do MM, YYYY')
            return file
        })
        this.tableData = info.fileList
      },

      deleteFile (id) {
        this.tableData.splice(this.tableData.findIndex(v => v.uid === id), 1)
      }
  }
}
</script>

<style>

</style>
