<template>
    <div>
        <bread-crumb :titles="titles"></bread-crumb>
        <a-form
            :form="form">
            <a-form-item label="Name" :label-col="{ span: 4 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="form.title"/>
            </a-form-item>
            <a-form-item label="Description" :label-col="{ span: 4 }" :wrapper-col="{ span: 12 }">
                <a-input :rows="4" type="textarea" v-model="form.description"/>
            </a-form-item>
        </a-form>
    </div>
</template>

<script>
export default {
    name: 'EpicDetails',
    props: ['titles', 'form'],
    methods: {
        handleSubmit () {}
    }
}
</script>

<style>

</style>
