<template>
    <div>
        <bread-crumb :titles="titles"></bread-crumb>
        <a-form
            :form="form"
            @submit="handleSubmit">
            <a-form-item label="Name" :label-col="{ span: 4 }" :wrapper-col="{ span: 12 }">
                <a-input v-model="form.releaseVer"/>
            </a-form-item>
            <a-form-item label="Description" :label-col="{ span: 4 }" :wrapper-col="{ span: 12 }">
                <a-input :rows="4" type="textarea" v-model="form.releaseDesc"/>
            </a-form-item>
            <a-form-item label="Start Date" :label-col="{ span: 4 }" :wrapper-col="{ span: 12 }">
                <a-date-picker clearable class="w-100" v-model="form.startDate"/>
            </a-form-item>
            <a-form-item label="End Date" :label-col="{ span: 4 }" :wrapper-col="{ span: 12 }">
                <a-date-picker clearable class="w-100" v-model="form.endDate"/>
            </a-form-item>
        </a-form>
    </div>
</template>

<script>
export default {
    name: 'SprintDetails',
    props: ['titles', 'form'],
    data () {
        return {
            // form: this.$form.createForm(this)
        }
    },
    
    // beforeCreate () {
    //     this.form = this.$form.createForm(this, options)
    // },
    methods: {
        handleSubmit () {

        }
    },
}
</script>

<style>

</style>
