<template>
    <div class="story-dets">
        <bread-crumb :titles="titles"></bread-crumb>
        <a-row type="flex" justify="center">
            <a-col :span="12">
                <a-form
                    :form="form">
                    <a-form-item label="User Story" :label-col="{ span: 4 }">
                        <a-input v-model="form.title"/>
                    </a-form-item>
                    <a-form-item label="Planned In Sprints" :label-col="{ span: 5 }">
                        <a-input :rows="4" type="textarea" v-model="form.planned"/>
                    </a-form-item>
                    <div class="flex justify-content-between">
                        <a-form-item label="Completed in Sprint">
                            <a-input class="w-200" type="text" v-model="form.completed"></a-input>
                        </a-form-item>
                        <a-form-item label="Type" prop="type">
                            <a-select class="w-200" allowClear placeholder="" v-model="form.storyType">
                                <a-select-option
                                v-for="item in types"
                                :key="item"
                                :value="item">
                                {{item}}
                                </a-select-option>
                            </a-select>
                        </a-form-item>
                    </div>
                    <div class="flex justify-content-between">
                        <a-form-item label="Story Points">
                            <a-input class="w-200" type="text" v-model="form.points"></a-input>
                        </a-form-item>
                        <a-form-item label="Status">
                            <a-select class="w-200" allowClear placeholder="" v-model="form.status">
                                <a-select-option
                                v-for="item in status"
                                :key="item"
                                :value="item">
                                {{item}}
                                </a-select-option>
                            </a-select>
                        </a-form-item>
                    </div>
                    <div class="flex w-50">
                        <a-form-item label="Bqurious Key">
                            <a-input type="text" v-model="form.key"></a-input>
                        </a-form-item>
                    </div>
                    <a-form-item label="Description">
                        <a-input :rows="4" type="textarea" v-model="form.description"></a-input>
                    </a-form-item>
                    <div class="flex w-50">
                        <a-form-item label="Component">
                            <a-input type="text" v-model="form.component"></a-input>
                        </a-form-item>
                    </div>
                    <section>
                        <h4 class="text-uppercase">risk</h4>
                        <div class="flex justify-content-between">
                            <a-form-item label="Complexity" prop="complexity">
                                <a-select class="w-200" allowClear placeholder="" v-model="form.complexity">
                                    <a-select-option
                                    v-for="item in complexity"
                                    :key="item.value"
                                    :value="item.value">
                                    {{item.label}}
                                    </a-select-option>
                                </a-select>
                            </a-form-item>
                            <a-form-item label="Priority" prop="priority">
                                <a-select class="w-200" allowClear placeholder="" v-model="form.priority">
                                    <a-select-option
                                    v-for="item in priority"
                                    :key="item"
                                    :value="item">
                                    {{item}}
                                    </a-select-option>
                                </a-select>
                            </a-form-item>
                        </div>
                        <div class="flex justify-content-between">
                            <a-form-item label="Impact">
                                <a-select class="w-200" allowClear placeholder="" v-model="form.impact">
                                    <a-select-option
                                    v-for="item in impact"
                                    :key="item"
                                    :value="item">
                                    {{item}}
                                    </a-select-option>
                                </a-select>
                            </a-form-item>
                            <a-form-item label="Usage">
                                <a-select class="w-200" allowClear placeholder="" v-model="form.usage">
                                    <a-select-option
                                    v-for="item in usage"
                                    :key="item"
                                    :value="item">
                                    {{item}}
                                    </a-select-option>
                                </a-select>
                            </a-form-item>
                        </div>
                    </section>
                    <div class="divider"></div>
                    <section>
                        <a-form-item label="As - a">
                            <a-input v-model="form.as" type="textarea"></a-input>
                        </a-form-item>
                        <a-form-item label="I want">
                            <a-input v-model="form.want" type="textarea"></a-input>
                        </a-form-item>
                        <a-form-item label="So that">
                            <a-input v-model="form.so" type="textarea"></a-input>
                        </a-form-item>
                        <a-form-item label="Acceptance Criteria">
                            <a-input rows="5" v-model="form.acceptance" type="textarea"></a-input>
                        </a-form-item>
                    </section>
                </a-form>
            </a-col>
        </a-row>
    </div>
</template>

<script>
export default {
  name: 'StoryDetails',
  props: ['form'],
  data () {
    return {
        // form: {},
        titles: [{name: 'Plan'}, {name: 'User Story'}],
        options: ['1', '2'],
        types: ['Functional', 'Non-functional'],
        status: ['New', 'Fixed', 'In Progress', 'Reopen', 'Closed', 'Blocked', 'Deferred'],
        complexity: [
            {label: '01 Low', value: 'low'},
            {label: '02 Medium', value: 'medium'},
            {label: '03 High', value: 'high'},
            {label: '04 Very High', value: 'vhigh'},
        ],
        priority: ['Must Have', 'Should Have', 'Can Have', 'Good to Have'],
        impact: ['01 Negligible - Minor inconvinience', '02 Marginal - Some Financial Loss', '03 Critical - Major Financial Loss', '04 Catastrophic - ExtensiveFinancial Loss'],
        usage: ['01 Rare', '02 Occasional', '03 Frequent', '04 Unavoidable'],
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/app';

.story-dets{
    height: 80vh;
    overflow: scroll;

    .ant-form-item-label{
        text-align: left !important;
    }
}

.divider{
    width: 100%;
    border-top: 1px solid #ecebeb;
    margin-top: 10px;
    margin-bottom: 20px;
}
.scroll{
    overflow-y: scroll;
    @include scrollbar(8px, 10px, #ecebeb, white);
}

.form-box{
    display: flex;
}
.w-200{
    width: 200px;
}
</style>
