<template>
    <div>
        <bread-crumb :titles="titles"></bread-crumb>
        <div class="mt-2">
            <a-table :columns="columns"
                :pagination="false"
                :rowKey="record => record.uid"
                :dataSource="tableData"
                :loading="loading">
            </a-table>
        </div>
    </div>
</template>

<script>
export default {
  name: 'TestCases',
  props: ['titles'],
  data () {
    return {
      columns: [
        {
            title: 'Title',
            dataIndex: 'title'
        },
        {
            title: 'Priority',
            dataIndex: 'priority'
        }, 
        {
            title: 'Category',
            dataIndex: 'category'
        }
      ],
      tableData: [],
      loading: false
    }
  },
}
</script>

<style lang="scss" scoped>
.mt-2{
    margin-top: 1rem;
}
</style>
