<template>
    <div style="background: #fafafa" class="h-100">
        <division class="page-height">
            <div slot="side" class="h-100 bg-gray">
                <side-panel :emptyTab="emptyTab" field="releaseVer" :buttons="buttons" :currentNode="currentNode" title="Sprints" type="findSprint" :treeData="sprints"></side-panel>
            </div>
            <div slot="main" class="h-100 tab bg-white">
                <a-tabs @change="updateNavBar" type="card">
                    <a-tab-pane tab="Sprint Details" key="first">
                        <is-empty v-if="emptyTab" height="80vh" title="There are currently no Sprints" subtitle="Please create a Sprint and Edit it"></is-empty>
                        <sprint-details :form="currentSprint" :titles="titles"></sprint-details>
                    </a-tab-pane>
                    <a-tab-pane :disabled="emptyTab" tab="Associated User Stories" key="second">
                        <is-empty v-if="emptyTab" height="80vh" title="There are currently no Sprints" subtitle="Please create a Sprint and Edit it"></is-empty>
                        <associated-stories :loading="loading" :tableData="tableData" :titles="titles"></associated-stories>
                    </a-tab-pane>
                </a-tabs>
            </div>
        </division>
    </div>
</template>

<script>
import EventsBus from '../../event-bus'
import { mapGetters } from 'vuex'
import SprintDetails from '../components/SprintDetails'
import AssociatedStories from '../components/AssociatedStories'
export default {
  name: 'Sprint',
  components: {
    AssociatedStories,
    SprintDetails
  },
  data () {
    return {
        buttons: [{event: 'addSprint', title: 'Add Sprint', icon: 'plus', newItem: {id: Math.random(), releaseVer: 'newSprint'}}],
        titles: [{name: 'Plan'}, {name: 'Sprint'}],
        tableData: [],
        loading: false
    }
  },

  mounted () {
    EventsBus.$emit('updateSideBar', 'sprint')
    this.$store.dispatch('getSprints')
    this.$store.dispatch('getSprintSnapshot')
    this.$store.commit('getSingleSprint', this.sprints[0])
    EventsBus.$on('saveSprint', this.saveSprint)
    EventsBus.$on('deleteSprint', this.deleteSprint)
  },

  beforeDestroy () {
    EventsBus.$off('saveSprint', this.saveSprint)
    EventsBus.$off('deleteSprint', this.deleteSprint)
  },

  created () {
    var footer = {
        actions: [{icon: 'save', title: 'Save', event: 'saveSprint'}, {icon: 'delete', title: 'Delete', event: 'deleteSprint'}],
        isExport: false
    }
    this.$store.dispatch('getFooterActions', footer)
  },

  methods: {
    // when a tab is clicked
    updateNavBar (targetName) {
        console.log("Target", targetName)
        switch (targetName) {
            case 'first':
                this.titles = [{name: 'Plan'}, {name: 'Sprint'}]
                var footer = {
                    actions: [{icon: 'edit', title: 'Edit', event: 'editSprint'}, {icon: 'delete', title: 'Delete', event: 'deleteSprint'}],
                    isExport: false
                }
                this.$store.dispatch('getFooterActions', footer)
                break
            case 'second':
                this.titles = [{name: 'Plan'}, {name: 'Associated User Stories'}]
                var footer = {
                    actions: [],
                    isExport: false
                }
                this.$store.dispatch('getFooterActions', footer)
                break
            default:
                break
        }
    },
    // edit or save
    saveSprint () {
        this.$store.dispatch('saveOrEditSprint', this.currentSprint)
        .then((response) => {
            this.$message.success('Sprint Saved')
        }).catch((err) => {
            this.$message.error('Unable to create sprint')
        })
    },

    // edit or save
    deleteSprint () {
        var store = this.$store
        var message = this.$message
        var current = this.currentSprint.id
        this.$confirm({
            title: 'Are you sure delete this sprint?',
            // content: 'Some descriptions',
            okText: 'Yes',
            okType: 'danger',
            cancelText: 'No',
            onOk() {
                store.dispatch('deleteSprint', current)
                .then((response) => {
                    message.success('Sprint Deleted')
                }).catch((err) => {
                    message.error('Unable to delete sprint')
                })
            },
            onCancel() {
                console.log('Cancel')
            }
        })
    }
  },

  computed: {
    ...mapGetters(['sprints', 'currentSprint']),
    currentNode () {
        var current = [this.currentSprint.id]
        return current
    },
    count () {
        return this.sprints.length
    },
    emptyTab () {
        return this.count === 0
    }
  }
}
</script>

<style>

</style>
