<template>
    <div style="background: #fafafa" class="h-100">
        <division class="page-height">
            <div slot="side" class="h-100 bg-gray">
                <epic-side :emptyTab="emptyTab" field="title" :buttons="buttons" :currentNode="currentNode" title="Epics and stories" type="findEpic" :treeData="epics"></epic-side>
            </div>
            <div slot="main" class="h-100 tab bg-white">
                <a-tabs :activeKey="activeKey" @change="updateNavBar" type="card">
                    <a-tab-pane tab="Epic Details" key="first">
                        <is-empty v-if="emptyTab" height="80vh" title="There are currently no Epics" subtitle="Please create an Epic and Edit it"></is-empty>
                        <epic-details v-else :form="currentEpic" :titles="titles"></epic-details>
                    </a-tab-pane>
                    <a-tab-pane v-if="isNotFirst" :disabled="emptyTab" tab="User Story Details" key="second">
                        <is-empty v-if="emptyTab" height="80vh" title="There are currently no Sprints" subtitle="Please create a Sprint and Edit it"></is-empty>
                        <story-details :form="currentNode"></story-details>
                    </a-tab-pane>
                    <a-tab-pane v-if="isNotFirst" :disabled="emptyTab" tab="Associated Test Cases" key="third">
                        <is-empty v-if="emptyTab" height="80vh" title="There are currently no Sprints" subtitle="Please create a Sprint and Edit it"></is-empty>
                        <test-cases :titles="titles"></test-cases>
                    </a-tab-pane>
                    <a-tab-pane v-if="isNotFirst" :disabled="emptyTab" tab="Attachments" key="fourth">
                        <is-empty v-if="emptyTab" height="80vh" title="There are currently no Sprints" subtitle="Please create a Sprint and Edit it"></is-empty>
                        <attachments></attachments>
                    </a-tab-pane>
                </a-tabs>
            </div>
        </division>
    </div>
</template>

<script>
import EpicDetails from '../components/EpicDetails'
import EpicSide from '../components/EpicSide'
import StoryDetails from '../components/StoryDetails'
import Attachments from '../components/Attachments'
import TestCases from '../components/TestCases'
import EventsBus from '../../event-bus'
import { mapGetters } from 'vuex'

export default {
  name: 'UserStory',
  components: {
    EpicDetails,
    TestCases,
    Attachments,
    StoryDetails,
    EpicSide
  },
  data () {
    return {
      buttons: [{event: 'addEpic', title: 'Add Epic', icon: 'plus', newItem: {id: Math.random(), title: 'newEpic', type: 'epic', children: []}},
        {event: 'addStory', title: 'Add Story', icon: 'plus', newItem: {id: Math.random(), title: 'newStory', type: 'story'}}],
      titles: [{name: 'Plan'}, {name: 'Epic'}],
      loading: false,
      activeKey: 'first'
    }  
  },
  
  mounted () {
    EventsBus.$emit('updateSideBar', 'user-story')
    this.$store.dispatch('getEpics')
    // this.$store.dispatch('getEpicsSnapshot')
    this.$store.commit('getSingleEpic', this.epics[0])
    EventsBus.$on('saveEpic', this.saveEpic)
    EventsBus.$on('deleteEpic', this.deleteEpic)
    EventsBus.$on('saveStory', this.saveStory)
    EventsBus.$on('deleteStory', this.deleteStory)
    
    this.activeKey = this.currentNode.type === 'epic' ? 'first' : 'second'
  },

  watch: {
    currentNode () {
        this.activeKey = this.currentNode.type === 'story' ? 'second' : 'first'
        if (this.currentNode.type === 'story') {
            this.$store.dispatch('getFooterActions', {
                actions: [{icon: 'save', title: 'Save', event: 'saveStory'}, {icon: 'delete', title: 'Delete', event: 'deleteStory'}],
                isExport: false
            })
        } else {
            this.$store.dispatch('getFooterActions', {
                actions: [{icon: 'save', title: 'Save', event: 'saveEpic'}, {icon: 'delete', title: 'Delete', event: 'deleteEpic'}],
                isExport: false
            })
        }
    }
  },

  beforeDestroy () {
    EventsBus.$off('saveEpic', this.saveEpic)
    EventsBus.$off('deleteEpic', this.deleteEpic)
    EventsBus.$off('saveStory', this.saveStory)
    EventsBus.$off('deleteStory', this.deleteStory)
  },

  created () {
    var footer = {
        actions: [{icon: 'save', title: 'Save', event: 'saveEpic'}, {icon: 'delete', title: 'Delete', event: 'deleteEpic'}],
        isExport: false
    }
    this.$store.dispatch('getFooterActions', footer)
  },

  methods: {
    // when a tab is clicked
    updateNavBar (targetName) {
        this.activeKey = targetName
        switch (targetName) {
            case 'first':
                this.titles = [{name: 'Plan'}, {name: 'Epic'}]
                this.$store.dispatch('getFooterActions', {
                    actions: [{icon: 'save', title: 'Save', event: 'editEpic'}, {icon: 'delete', title: 'Delete', event: 'deleteEpic'}],
                    isExport: false
                })
                break
            case 'second':
                this.titles = [{name: 'Plan'}, {name: 'User Story'}]
                this.$store.dispatch('getFooterActions', {
                    actions: [{icon: 'save', title: 'Save', event: 'editStory'}, {icon: 'delete', title: 'Delete', event: 'editStory'}],
                    isExport: false
                })
                break
            case 'third':
                this.titles = [{name: 'Plan'}, {name: 'Associated Test Cases'}]
                this.$store.dispatch('getFooterActions', {
                    actions: [],
                    isExport: false
                })
                break
            case 'fourth':
                this.$store.dispatch('getFooterActions', {
                    actions: [],
                    isExport: false
                })
                break
            default:
                break
        }
    },

    // edit or save
    saveEpic () {
        this.$store.dispatch('saveOrEditEpic', this.currentEpic)
        .then((response) => {
            this.$message.success('Epic Saved')
        }).catch((err) => {
            this.$message.error('Unable to create Epic')
        })
    },

    // edit or save
    deleteEpic () {
        var store = this.$store
        var message = this.$message
        var current = this.currentEpic.id
        this.$confirm({
            title: 'Are you sure delete this Epic?',
            // content: 'Some descriptions',
            okText: 'Yes',
            okType: 'danger',
            cancelText: 'No',
            onOk() {
                store.dispatch('deleteEpic', current)
                .then((response) => {
                    message.success('Epic Deleted')
                }).catch((err) => {
                    message.error('Unable to delete Epic')
                })
            },
            onCancel() {
                console.log('Cancel')
            }
        })
    },

    // edit or save
    saveStory () {
        console.log('i got here', this.currentNode)
        this.$store.dispatch('saveOrEditStory', this.currentNode)
        .then((response) => {
            this.$message.success('Story Saved')
        }).catch((err) => {
            this.$message.error('Unable to create Story')
        })
    },

    // edit or save
    deleteStory () {
        var store = this.$store
        var message = this.$message
        var current = this.currentNode.id
        this.$confirm({
            title: 'Are you sure delete this Story?',
            // content: 'Some descriptions',
            okText: 'Yes',
            okType: 'danger',
            cancelText: 'No',
            onOk() {
                store.dispatch('deleteStory', current)
                .then((response) => {
                    message.success('Story Deleted')
                }).catch((err) => {
                    message.error('Unable to delete Story')
                })
            },
            onCancel() {
                console.log('Cancel')
            }
        })
    }
  },

  computed: {
    ...mapGetters(['epics', 'currentEpic', 'currentNode', 'currentStory']),
    // currentNode () {
    //     var current = [this.currentEpic.id]
    //     return current
    // },
    count () {
        return this.epics.length
    },
    emptyTab () {
        return this.count === 0
    },
    isNotFirst () {
        return this.activeKey !== 'first'
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
