
#login{
    .ant-form-item-label{
        text-align: left;
    }
    .ant-form-item{
        margin-bottom: 10px;
    }
}

.side-menu{
    .a-menu{
        width: 100% !important;
        background: #519BBD !important;
    }

    .ant-menu-submenu-arrow{
        display: none !important;
    }

    .ant-menu-submenu-title{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .ant-menu-item-selected{
        background-color: #2F3941 !important;
    }

    .ant-menu-submenu-popup{
        .ant-menu-item-selected{
            background-color: #519BBD !important;
        }
    }

    .ant-menu-item .anticon, .ant-menu-submenu-title .anticon{
        margin-right: 5px;
    }

    .ant-menu-vertical{
        margin-bottom: 0;
        background: #519BBD;
    }

    .ant-menu-item{
        margin-bottom: 0;
    }
    .a-menu-item,.a-submenu{
        padding: 0px !important;
    
        div{
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
        }
    }
    .a-submenu.is-active{
        .a-submenu__title{
            background: #2F3941 !important;
        }
    }

    .ant-menu-item-group{
        background-color: #2F3941 !important
    }
}

.ant-layout-footer{
    padding: 0;
}

.tab{
    .a-card__body {
        padding: 0px 20px !important;
    }
}

.ant-tabs-content{
    height: calc(100vh - (42px + 60px + 41px + 10px)) !important;
    background-image: url('https://res.cloudinary.com/seddiescloudimagecdn/image/upload/v1543142467/bg_panel.gif');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 300px;
    // overflow-y: auto;
}

.side-panel{
    .a-card__body {
        padding: 0 !important;
    }
}

.a-button{
    font-size: 12px;
    font-family: 'Monsterrat', sans-serif !important;
}

.a-table th div, .a-table th>.cell{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600
}

.a-input__inner{
    height: 35px !important;
}
.a-form-item__label{
    // line-height: 20px !important;
}
// .a-menu-item-group__title{
//     text-transform: uppercase;
//     color: #fafafa !important;
//     font-weight: 500;
//     font-size: 10px !important;
//     letter-spacing: 0.5px;
//     border-bottom: 1px solid #c3c1c1;
// }
#main{
    .a-card__body{
        padding: 0 20px !important
    }
    .a-tabs__content{
        height: calc(100vh - (42px + 60px + 41px + 10px)) !important;
        background-image: url('https://res.cloudinary.com/seddiescloudimagecdn/image/upload/v1543142467/bg_panel.gif');
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 300px;
        overflow-y: auto;
    }
}


// Tabs
.a-tabs--card>.a-tabs__header .a-tabs__item.is-active{
    background-color: #519bbd;
    color: white;
    border-bottom-color: #519bbd;
}

#bottom-img{
    position: fixed;
    bottom: 60px;
    right: 15px;
    z-index: 0;
}

// .a-tree-node{
//     &::nth-child(1) {
//         background-color: #f0f7ff;
//     }
// }

// .a-tree-node .a-tree-node__content{
//     &::nth-child(1) {
//         background-color: #f0f7ff;
//     }

//     &.is-active{
//         background-color: #f0f7ff;
//     }
// }

.ant-layout-header{
    padding: 0;
}

// tree
#side-panel{
    .a-tree-node{
        .a-tree-node__content{
            height: 36px !important;
            padding-right: 20px !important;
        }
    }

    .ant-tree li .ant-tree-node-content-wrapper{
        width: 100%;
        padding: 0 20px;
        line-height: 36px;
        height: 36px;
    }

    .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected{
        background-color: #f0f7ff;
    }
    .ant-tree li span.ant-tree-switcher, .ant-tree li span.ant-tree-iconEle{
        display: none;
    }

    .ant-btn-sm{
        background: transparent;
        border: 0;
    }
}

#epic-side{
    // .ant-tree-treenode-switcher-close, .ant-tree-treenode-switcher-open{
    //     padding: 0 20px;
    // }
    // .ant-tree-node-content-wrapper{
    //     line-height: 36px;
    //     height: 36px;
    //     width: 90%;
    // }
    // .ant-tree-switcher{
    //     line-height: 36px;
    //     height: 36px;
    // }

    .ant-btn-sm, .ant-tree-switcher{
        background: transparent;
        border: 0;
    }

    .ant-tree.ant-tree-directory > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper:before, .ant-tree.ant-tree-directory .ant-tree-child-tree > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper:before{
        background-color: #f0f7ff;
    }

    .ant-tree-node-selected, .ant-tree-switcher-icon {
        color: rgba(0, 0, 0, 0.65);
    }
}

.ant-tree-title{
    font-size: 12px !important;
}

.bread{
    height: 30px;
    background: #fafafa;
    line-height: 30px;
    align-items: center;
    display: flex;
    padding: 0 15px;
}

.story-dets{
    height: 80vh;
    overflow: scroll;

    .ant-form-item-label{
        text-align: left !important;
    }
}