@import 'general';
@import 'mixins';
@import 'ant-customization';



body{
    margin: 0;
    // font-family: 'Montserrat', sans-serif !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}
.a-form-item__label{
    text-align: left !important
}
*{
    outline: 0;
}
div{
    //height: inherit;
    box-sizing: border-box;
}

#white-sprint-chart{
    .ct-line, .ct-point{
        stroke: white;
    }

    .ct-line{
        stroke-width: 1px
    }
}

#data-visual-chart{
    .ct-bar{
        stroke: #2196f3
    }
}
