@mixin scrollbar($width, 
    $height,
    $scrollbg: rgb(219, 219, 219),
    $thumbbg: white
){
    &::-webkit-scrollbar-track{
        border-radius: 0px;
        background-color: $thumbbg;
    }

    &::-webkit-scrollbar{
        width: $width;
        height: $height;
        background-color: $scrollbg;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: $scrollbg;
    }

    &::-webkit-scrollbar-thumb:window-inactive{
        background: $scrollbg;
    }
}